body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    text-align: center;
    padding: 20px;
}

.battle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    font-style: italic;
}

.enemy-team,
.player-team {
    width: 80%;
}

.enemy-img,
.player-img {
    width: 120px;
    /* 設定圖片寬度 */
    height: auto;
    /* 保持原始比例 */
}

.enemy-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.player-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.battle-menu {
    background-color: white;
    border: 2px solid black;
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    text-align: left;
}

.menu-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
}

button:hover {
    background-color: darkgray;
}