body {
    font-family: Arial, sans-serif;
    background-color: rgb(51, 0, 255);
    width: 100vw;
}

.container {
    width: 90%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    font-style: italic;
}

.player-team {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    top: 40%;
    left: 10%;
}

.enemy-team {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: absolute;
    top: 10%;
    right: 10%;
}

.enemy-img,
.player-img {
    width: 120px;
    height: auto;
}

.battle-menu {
    background-color: white;
    border: 2px solid black;
    width: 80%;
    height: 25%;
    padding: 15px;
    margin-top: 20px;
    text-align: left;
    position: absolute;
    bottom: 10%;
    left: 6.5%;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 10%;
    row-gap: 15%;
}

#A {
    grid-column: 1;
    grid-row: 1;
}

#B {
    grid-column: 1;
    grid-row: 2;
}

#C {
    grid-column: 2;
    grid-row: 1;
}

#D {
    grid-column: 2;
    grid-row: 2;
}

button {
    font-size: 16px;
    border: 5px 1px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 5px;
}

button:hover {
    background-color: darkgray;
}